*{
    font-family: 'Times New Roman', Times, serif;
    /* background-color: #e6e6e6; */
}
body { /* Force <body> to fill screen */
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}

#social button{

 color: green;
} 
.button-inside{
    font-size: 13px;
}



/* .header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
  }   */
  
   /* #navbar {
    overflow: hidden;
    background-color:#f1f1f1;
  }  
   */
.active{

    margin-left: 30%;
  } 
  #navbarr a {
    float: left;
    margin-left: 13%; 
     display: block;
    color: black;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
#navbarr a:hover {
    background-color: royalblue;
    color: white;
  }
  
#navbarr a.active {
    background-color:royalblue;
    color: white;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px; 
  } 
.slider{
    width: 100%;
    
}


/* 

.slider img{
    max-width: 100%;
    min-width: 20%;
    height: 800px;
    
    
    
        
    } */

    
.news{
    padding-top: 2%;
    margin-top: 6px;

    background-color: royalblue;
    height: 30px;
    margin-right:70px ;
    margin-left: 70px;
    color: white;
    padding-top: 7px;
   
}
.news-color{
    color: green;
}


.intro{
    padding-top: 5%;
    margin-top: 6px;
    
    background-color:#e6e6e6;
    text-align: justify;
    margin-bottom: 0%;
    
    
    
    
    }
.intro p{
    font-family:  'Times New Roman', Times, serif;
    text-align: justify;
    padding-top: 30px;
    margin-left: 15%;
    margin-right:   15%; 
    padding-bottom: 7%;
    
    
    
    
    
}
.intro h1{
        text-align: center;
        margin-bottom: 1px;
      
}
.intro img{
        height: 50px;
        margin-top: 1px;
        margin-bottom: 0px;
      
    
        
    }
.intro-1st{
        color:royalblue;
    
    }
.intro-2nd{
        color:rgb(12, 184, 98);
        
    }
    
.intro-logo-before{
    
        padding-left: 43%;
        color: green;
        font-size: larger;
        font-style: oblique;
    }
.intro-logo-after{
    
        color: green;
        font-size: larger;
        font-style: oblique;
        padding-right: 20%; 
    }
    


.testimonial-price{
    color: white;
    font-size: 32px;
    /* text-align: center; */
    padding-left: 89px;
    margin-top: 2px;
    margin-bottom: 3px;
}
.testimonial-title{

    color: white;
    font-family:  serif;
    font-size: 15px;
    padding-left: 70px;
    margin-top: 0px;
}
.detail{
    color:  green;
}

.testinomial-image{
    
    margin-left: 100px ;
    padding-top: 90 px;
    height: 60px;
    padding-bottom: 1px;
}  



 
.work{
    padding-top: 2%;
    /* padding-left: 10%;
    padding-right: 10%; */
    padding-bottom: 5%;
  
    height: auto;
    text-align: center;
    background-color: #e6e6e6;
    width: 100%;
 } 
 
 /* its logo after */
.work img{
    
    height: 50px;
    
    margin-top: 0px;
} 
.container{
   
    padding-left: 3%;
    padding-right: 3%;

    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.box{
    background-color: white;
    /* margin: 20px; */
    box-sizing: border-box;
    height: 190px;
    width: 350px;
    background-color:white;
    margin-top:40px; 
    display: inline-block;



}


.box p{
    text-align: center;
    padding-top: 20px;
    color: royalblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;
}
.box img{
    height: 120px;
    width: 80px;
    padding-top: 30px;
    padding-left: px;
}



@media screen and (max-width:1200px){
    .work-1{
        width: 40%;
    }


}

@media screen and (max-width:600px){z   
    .work-1{
        width: 90%;
    }
}




.separator {
    width: 70px;
    background-color: forestgreen;
    height: 3px;
    display: block;
}
.upcoming li{

    list-style: none;
}
.upcoming marquee{

height: 230px;

}



/* Image Gallery */



.image-section{
    margin-left: 12%;
    margin-right: 12%;
}
.text-center img{
    padding-top: 20%;
    height: 200px;
    width: 200px;
    padding-left: 5px;



}



.white-line{
    background-color: white;
    height: 1px;
    display: block;
    margin-left: 39%;
}





.copyright{


    height: 50px;
    background-color: royalblue;
    color: white;
    padding-left: 5%;
    padding-top: 1%;
}

